@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  font-family: Outfit, sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #f8f9fa;
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

:root {
  /** color and other variables will be here **/
}
