.home {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 1.5rem 0;
  padding-bottom: 1.5rem;
}

@media (width <= 768px) {
  .home {
    flex-direction: column;
  }
}

.homeBlogPosts {
  display: flex;
  flex: 8;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.homeAside {
  display: flex;
  flex: 4;
  flex-direction: column;
  gap: 1rem;
}

.categories {
  background: #fff;
  border: 1px solid #eee;
  border-radius: .25rem;
  color: #5a5a5a;
  padding: 1rem;
  width: 100%;
}

.categoriesTitle {
  border-bottom: 1px solid #eee;
  color: #5a5a5a;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.categoryContainer {
  background-color: #f4f7f6;
  box-sizing: border-box;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
  list-style: none;
  margin-bottom: 5px;
  padding: 10px;
}

.categoryContainer:hover {
  background-color: #d4e3de;
}

.category {
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
  color: #5a5a5a;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  text-decoration: none;
}

.popularPosts {
  background: #fff;
  border: 1px solid #eee;
  border-radius: .25rem;
  color: #5a5a5a;
  padding: 1rem;
  width: 100%;
}

.popularPostsTitle {
  border-bottom: 1px solid #eee;
  color: #5a5a5a;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.popularPostsList {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.popularPost {
  list-style: none;
  padding: 0.5rem;
}

.popularPostUrl {
  color: #5a5a5a;
  display: block;
  font-size: 14px;
  font-weight: 400;
  height: 100%;
  text-decoration: none;
  width: 100%;
}

.popularPost:hover {
  background-color: #f4f7f6;
}

.tags {
  background: #fff;
  border: 1px solid #eee;
  border-radius: .25rem;
  color: #5a5a5a;
  padding: 1rem;
  width: 100%;
}

.tagsTitle {
  border-bottom: 1px solid #eee;
  color: #5a5a5a;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}

.tagsListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tag {
  border: 1px solid #eee;
  display: inline-block;
  padding: 0.5rem;
}

.tagUrl {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
